

#brand {
    letter-spacing: 3px;
}

.yo {
    background: #fae5d3;
}


.eat {
    background: #e67e22;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.texts {
    color: #e67e22;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 15px;
}

.test {
    color: #000000;
    font-weight: bold;
    width: 550px;
}

.coook {
    height: 180px;
}

.header {
    background: #fae5d3;
    margin: 0;
    padding: 0;
    max-width: 100%;
    
}

.width{
    max-width: 100%;
}

.try {
    padding: 0.5rem 0.5rem;
    border-radius: 5%;
    color: #fff;
    background: #e67e22;
    height: 38px;
}

.try:hover {
    background: rgba(192, 139, 24, 0.867);
}

.font {
    font-family: 'Indie Flower', cursive;
}

.fonts {
    font-family: 'Cormorant Garamond', serif;
}
.fonta {
    font-family: 'Cormorant Garamond', serif;

}

.home {
    width: 220px;
}

.usa, .forbe, .tc, .new, .in {
    height: 40px;
    width: 100px;
    margin-inline: 40px;
    padding-top: 9px;
    /* text-align: end;
    margin: 10px; */
}


.any {
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
    margin-left: 55px;
}

.reci {
    color: #e67e22;
}

.seven, .two {
    font-weight: bolder;
}

.liss {
    font-weight: bold;
}



.uu {
    list-style: none;
    font-weight: bold;
    
}

.lis {
    padding: 9px;
    align-items: flex-start;
}

.uu li::before {
    content: '✔️';
    color: #e67e22;
    padding: 15px;
    font-weight: lighter;
}

.vv {
    list-style: none;
    font-weight: lighter;
    width: 350px;
    margin-right: 40px;
}

.maa {
    margin: 20px;
    position: relative;
}


.per {
    color: hsl(209, 28%, 39%);
}

.sta {
    color: #e67e22;
    font-weight: bold;
}

.vv li::before {
    content: '✔️';
    color: #e67e22;
    padding: 15px;
    font-weight: lighter;
}

.butt {
    border-radius: 20px;
    background: #e67e22;
    font-weight: bold;
    color: white;
    box-shadow: none;
    margin-right: 15px;
    border: none;
}

.a1 {
    color:#e67e22;
    font-size: small;
    padding: 9px;
    font-weight: bold;
}

#daily {
    font-weight: bold;
    margin-bottom: 90px;
}



#b1 {
    font-size: 5em;
    color: #b79b9b;
    font-family: 'Oswald', sans-serif;
}

.tell {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.meaal {
    height: 200px;
    width: 390px;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
}




.vegi, .pal {
    border-radius: 45%;
    width: fit-content;
    padding: 5px;
    padding-top: 8px;
    margin: 8px;
    font-size: 10px;
    font-weight: bold;
}

.vegi {
    background-color: rgb(95, 229, 95);
}

.pal {
    background-color: goldenrod;
}

.jap {
    font-weight: bold;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 22px;
    padding-top: 6px;
    
}


.cal {
    font-weight: lighter;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pri {
    width: 390px;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    margin-left: 10px;
    margin-top: 35px;
    background: #bab4ae;
    height: fit-content;
}

.ire {
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    color: #3e3434eb
}


.aut {
    background: #fae5d3

}

.zii {
    width: 100%;
    align-items: flex-end;
}

.ff {
    width: 700px;
    flex-wrap: nowrap;
}

.bbb {
    border-radius: 50%;
    width: 40%;
}

.iii {
    text-align: justify;
    width: 280px;
    display: inline-block;
    padding-inline: 15px;
}

.kkk {
    color: #e67e22;
    padding-top: 50px;
    padding-bottom: 30px;
}

.tap {
    border-radius: 5%;
    background: #b79b9b;
    margin: 9px;
    padding: 5px;
    
}



.cam {
    border-radius: 5%;
    background: #ffff;
    border: 2px solid #fae5d3;
    margin: 3px;
    padding: 18px;
}

.money {
    color: hsl(209, 61%, 16%);
    line-height: 1.5;
    font-size: 3rem;
}

.doll {
    color: hsl(209, 61%, 16%);
    font-size: 1.5rem;
}

.iii img {
    display: block;
    flex-wrap: wrap;
    margin: 20px;
}

.ggg {
    box-sizing: content-box;
}

.ttes {
    padding-bottom: 10px;
    color: #e67e22;
}

.phoney {
    height: 270px;
}


.ribbon {
    position: absolute;
    top: 0;
    left: 282px;
    width: 150px;
    height: 145px;
    display: flex;
    justify-content: center;
    transform: rotate(deg);
    align-items: center;
    overflow: hidden;
    color: hsl(209, 61%, 16%);
}

.ribbon::before {
    content: "BEST VALUE";
    position: absolute;
    top: 30px;
    bottom: 150px;
    width: 320px;
    height: 24px;
    margin-left: 15px;
    background: #ffff00;
    transform: rotate(44deg) translateY(10px);
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 10px #b79b9b;
    letter-spacing: .1em;

}

.aye {
    margin-left: 150px;
    
}

.hhh {
    max-width: 100%;
    display: inline-flex;
}


.ooo {
    background: #eb984e;
    border-radius: 20px;
    max-width: 100%;
    color: #2e1907;
}

.infinit {
    font-size: 30px;
    font-weight: lighter;
    color: #e67e22;
    box-shadow: 0 5px 6px #e67e22;
    border-radius: 50%;
    background: #fdf2e9;
    padding: 5px;
    margin: 10px;
}


.mmm {
    font-size: 15px;
    color: hsl(209, 28%, 39%);
    width: 300px;
    flex-wrap: wrap;
}


.comb {
    display: inline-flex;
}

.bot {
    padding: 9px;
    margin: 15px;
    border: none;
    border-radius: 10px;
    text-align: start;
    width: 300px;
    height: 50px;
    font-weight: bold;
}

.bot1 {
    background-color: #464040;
    border: none;
    border-radius: 10px;
    width: 300px;
    height: 50px;
    color: #ffffff;
    font-weight: bold;
    font-size: large;
}

.bot1:hover {
    background-color: #ffffff;
    color: #000000;
}

.droop {
    width: 300px;
    height: 50px;
    font-weight: bold;
    font-size: large;
    margin: 15px;
    text-align: start;
}

.maxx {
    margin-right: 40px;
}

.featured {
    letter-spacing: 2px;
    font-size: small;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.shh {
    max-width: 100%;
    font-size: 1em;
    display: flex;
    flex-direction: row;
}

.start {
    width: 200px;
}

.start:hover {
    background-color: rgba(192, 139, 24, 0.867);
}

button {
    width: 190px;
    height: 55px;
}

.customer {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin-right: -1rem;
    border: 3px solid #fff;
    object-fit: cover;
}
