

#brand {
    letter-spacing: 3px;
}

.yo {
    background: #fae5d3;
}


.eat {
    background: #e67e22;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.texts {
    color: #e67e22;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 15px;
}

.test {
    color: #000000;
    font-weight: bold;
    width: 550px;
}

.coook {
    height: 180px;
}

.header {
    background: #fae5d3;
    margin: 0;
    padding: 0;
    max-width: 100%;
    
}

.width{
    max-width: 100%;
}

.try {
    padding: 0.5rem 0.5rem;
    border-radius: 5%;
    color: #fff;
    background: #e67e22;
    height: 38px;
}

.try:hover {
    background: rgba(192, 139, 24, 0.867);
}

.font {
    font-family: 'Indie Flower', cursive;
}

.fonts {
    font-family: 'Cormorant Garamond', serif;
}
.fonta {
    font-family: 'Cormorant Garamond', serif;

}

.home {
    width: 220px;
}

.usa, .forbe, .tc, .new, .in {
    height: 40px;
    width: 100px;
    margin-inline: 40px;
    padding-top: 9px;
    /* text-align: end;
    margin: 10px; */
}


.any {
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
    margin-left: 55px;
}

.reci {
    color: #e67e22;
}



.uu {
    list-style: none;
    font-weight: lighter;
    
}

.lis {
    padding: 9px;
    align-items: flex-start;
}

.uu li::before {
    content: '✔️';
    color: #e67e22;
    padding: 15px;
    font-weight: lighter;
}

.a1 {
    color:#e67e22;
    font-size: small;
    padding: 9px;
    font-weight: bold;
}

#daily {
    font-weight: bold;
    margin-bottom: 90px;
}



#b1 {
    font-size: 5em;
    color: #b79b9b;
    font-family: 'Oswald', sans-serif;
}

.tell {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.meaal {
    height: 200px;
    width: 390px;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
}


/* 
.veg {
    background-color: #0fd40f;
    border-radius: 45%;
    width: 120px;
    padding: 10px;
    padding-top: 10px;
    margin: 9px;
    font-size: 10px;
    font-weight: bold;
} */

.vegi, .pal {
    border-radius: 45%;
    width: fit-content;
    padding: 5px;
    padding-top: 8px;
    margin: 8px;
    font-size: 10px;
    font-weight: bold;
}

.vegi {
    background-color: rgb(95, 229, 95);
}

.pal {
    background-color: goldenrod;
}

.jap {
    font-weight: bold;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 22px;
    padding-top: 6px;
    
}


.cal {
    font-weight: lighter;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pri {
    width: 390px;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    margin-left: 10px;
    margin-top: 35px;
    background: #bab4ae;
    height: fit-content;
}

.ire {
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    color: #3e3434eb
}


.aut {
    background: #fae5d3

}

.zii {
    width: 100%;
    align-items: flex-end;
}

.ff {
    width: 700px;
    flex-wrap: nowrap;
}

.bbb {
    border-radius: 50%;
}

.iii {
    text-align: justify;
    width: 250px;
}

.iii img {
    display: block;
    flex-wrap: wrap;
    margin: 20px;
}

.ggg {
    box-sizing: content-box;
}

.ttes {
    padding-bottom: 10px;
    color: #e67e22;
}

.phoney {
    height: 270px;
}

.maxx {
    margin-right: 40px;
}

.featured {
    letter-spacing: 2px;
    font-size: small;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.shh {
    max-width: 100%;
    font-size: 1em;
    display: flex;
    flex-direction: row;
}

.start {
    width: 200px;
}

.start:hover {
    background-color: rgba(192, 139, 24, 0.867);
}

button {
    width: 190px;
    height: 55px;
}

.customer {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin-right: -1rem;
    border: 3px solid #fff;
    object-fit: cover;
}
